/*login*/
html, body, #root {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;  
}

.login-cover{
    background-image: url('../img//bg-login.jpg');
    background-size: contain;
  }
  
  .login-overlay{
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
  }

  .btn-signup {
    padding: 8px;
    background-color: white;
    border: 1px solid;
    color: black;
    border-radius: 5px;
  }


  /*detail*/
  .detail-header{
    background-image: url('../img//cover-half.png');
    background-size: cover;
  }

  .detail-header .btn-action .back .btn-back {
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
  }

.detail-header .action a {
    text-decoration: none;
}
.btn-edit, .btn-delete {
   color: grey;
   font-weight: bold;
   font-size: 20px;
}

.detail-content .right .cover {
    margin-top: -180px
}

.detail-content .right .borrow a {
    background-color: #FBCC38;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.detail-content .left .badge span {
    font-size: 14px;
}

/* dashboard */

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
